
<%- include('./shared/header.ejs') %>

		<div class="container position-absolute top-50 start-50 translate-middle">
			<h2 class="h6 text-center opacity-75">Saraha Allows You To Receive Constructive Feedback From Your Friends And CO-Workers</h2>
			<div class="mt-5 d-flex align-items-center justify-content-center flex-column">
				<a class="btn btn-saraha my-3 rounded-pill px-5 py-2" href="/login"><i class="fa-solid fa-user"></i> Login</a>
				<a class="btn btn-saraha rounded-pill px-5 py-2" href="/register"><i class="fa-solid fa-pen-to-square"></i> Register</a>
			</div>
		</div>


<%- include('./shared/footer.ejs') %>